# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Flutter customize
lib/l10n/built

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# bundler

.bundle

# fastlane
**/report.xml

# iOS deploy
appstore_api_key.json
fastlane/metadata/review_information/email_address.txt
fastlane/metadata/review_information/phone_number.txt
fastlane/Preview.html

# configs
lib/config/dev.dart
lib/config/prd.dart

# flutter_launcher_icons
android/app/src/*/res/*/ic_launcher.png
ios/Runner/Assets.xcassets/AppIcon-*.appiconset/

# Firebase
android/app/src/*/google-services.json
ios/Firebase/GoogleService-Info-*.plist

# Android Secret Build Config
android/gradle_secret.properties
android/app/tatetsu_android_release.jks

# AdMob for iOS
ios/AdMob/AdMob-dev.xcconfig
ios/AdMob/AdMob-prd.xcconfig
