//
//  DebugDev.xcconfig
//  Runner
//
//  Created by Tetsuya Nishikawa on 7/23/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-dev.xcconfig"

APP_NAME=T-DebDev
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon-dev
